# Data Science Tools and Ecosystem

## Author 
Jacqueline Chirre Manrique

#### Objectives:
* Understand main languages of Data Science
* Calculate operations
* Describe how use to libraries of Data Science

In this notebook, Data Science and Ecosystems are sumarized.

Some of the popular languages that Data Science use are:
1. R Language
2. Python
3. SQL

Some of commonly used libraries used by Data Scientits include:
1. Pandas
2. NumPy
3. Apache Sparks

Below are a few examples of evaluating arithmetic expressions in Pyhton

In [3]:
(3*4)+5

17

This a simple arithmetic expression to multiply then add integers

In [5]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60